.appRoot {
  &:global(.ant-layout) {
    min-height: 100vh;
    color: var(--foreground);
    background: var(--background);
  }
}

.main {
  &:global(.ant-layout-content) {
    width: 100%;
    color: var(--foreground);
    background: var(--background);
  }
}
